[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
opencv-python = "*"
pylint = "*"

[dev-packages]
pytest = "*"
ipython = "*"
mypy = "*"
black = "*"
autopep8 = "*"
flake8 = "*"
pylint = "*"
pylama = "*"
flake8-quotes = "*"
flake8-executable = "*"
flake8-fixme = "*"
flake8-multiline-containers = "*"
flake8-variables-names = "*"
flakehell = "*"
flake8-annotations = "*"
isort = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
